<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realestatedeveloperapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealEstateDeveloperApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".PredictPriceResult"
            android:exported="false"/>
        <activity
            android:name=".PersonnelManagement"
            android:exported="false" />
        <activity
            android:name=".TasksManagement"
            android:exported="false" />
        <activity
            android:name=".ProjectsManagement"
            android:exported="false" />
        <activity
            android:name=".Projects"
            android:exported="false" />
        <activity
            android:name=".Tasks"
            android:exported="false" />
        <activity
            android:name=".RealEstatePricePredictor"
            android:exported="false" />
        <activity
            android:name=".MarketPrices"
            android:exported="false" />
        <activity
            android:name=".Notebook"
            android:exported="false" />
        <activity
            android:name=".DocumentsManagement"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>